body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, white,  #ffb950);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 20px;
}

#register-form {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 50px;
    margin-top: 20px;
}

input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #ffb950;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.lg{
    padding: 10px;
    background-color: #903700;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.lg:hover {
    background-color: #ffb950;
}

button:hover {
    background-color: #b96f00;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
