<div class="form-container">
    <form [formGroup]="form">
        <div class="form-group">
          <label>Muscle Group:</label>
          <select 
            formControlName="muscleGroup"
            id="muscleGroupSelect"
            aria-label="Select muscle group"
            title="Muscle Group Selection"
            >
            <option value="">Select Muscle Group</option>
            <option *ngFor="let muscle of muscleGroups" [value]="muscle">
              {{ muscle }}
            </option>
          </select>
          <div *ngIf="form.get('muscleGroup')?.errors?.['required'] && form.get('muscleGroup')?.touched">
            Muscle group is required
          </div>
        </div>
      
        <div class="form-group">
          <label>Exercise:</label>
          <select 
            formControlName="exerciseName"
            id="exerciseSelect"
            aria-label="Select exercise"
            title="Exercise Selection"
            >
            <option value="">Select Exercise</option>
            <option *ngFor="let exercise of exercises" [value]="exercise">
              {{ exercise }}
            </option>
          </select>
          <div *ngIf="form.get('exerciseName')?.errors?.['required'] && form.get('exerciseName')?.touched">
            Exercise is required
          </div>
        </div>
      
        <div class="set-controls">
          <input type="number" formControlName="weight" placeholder="Weight (kg)">
          <input type="number" formControlName="reps" placeholder="Reps">
          <button type="button" (click)="addSet()">
            {{ selectedSetIndex !== null ? 'Update' : 'Add' }} Set
          </button>
        </div>
      
        <div class="sets-list">
          <div *ngFor="let set of form.value.sets; let i = index" class="set-item">
            <span>Set {{ i + 1 }}: {{ set.reps }} reps x {{ set.weight }} kg</span>
            <button type="button" (click)="editSet(i)">Edit</button>
            <button type="button" (click)="removeSet(i)">Remove</button>
          </div>
        </div>
      </form>
</div>
